
@{
    ViewBag.Title = "Listado de paises";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paises de Centroamérica</title>
    <link rel="stylesheet" href="~/Content/design.css">
</head>
<body>
    <div> 
        <!-- Este es para el codigo ViewBag -->
        <!--<h2>
            Listado de paises
        </h2>
        <ul>
            @foreach(string pais in ViewBag.Paises)
            {
                <li>@pais</li>
            }
        </ul> -->

        <!-- Este es para el codigo ViewData -->
        <!-- <h2>
            Listado de paises
        </h2>
        <ul>
            @foreach (string pais in (List<string>)ViewData["Paises"])
            {
                <li>@pais</li>
            }
        </ul> -->

        <h2>
            Listado de paises
        </h2>
        <ul>
            @foreach (string pais in ViewBag.Paises)
            {
                <li>
                    @pais
                </li>
            }
        </ul>
    </div>
</body>
</html>
